@import "tailwindcss";


html, body, #__next { height: 100%; }
body { @apply bg-gray-50 text-gray-900; }
@keyframes fadeIn {
	from { opacity: 0; transform: scale(.95); }
	to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
	animation: fadeIn .25s ease-out;
}
